.container {
    font-family: 'Roboto', sans-serif;
    width: 1280px;
    margin: 0 auto;
    padding: 0px;
}
.title {
    display: flex;
    align-items: flex-end;
    font-size: 80px;
    height: 79px;
    font-weight: 400px;
    color: #000000;
}
span {
    color: #4BCAFF;
}
.header-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top:63px;
    height: 189px;
}
.header-items {
    display: flex;
    flex-direction: column;
}
.header-menu-items {
    display: flex;
    background-color: #35444F;
    height: 69px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 1280px;
    padding-left: 160px;
    padding-right: 125px;
}
.child {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    border-left: 1px solid #fff;
    transition: 0.4s;
}
.child:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: #222F3A;
}
.child-4 {
    border-right: 1px solid #fff;
}
.main-conteiner {
    display: flex;
    padding-top: 48px;
}
.aside-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    font-weight: 400;
    font-size: 27px;
    color: #485863
}
.aside-menu-items {
    height: 20%;
    padding-top: 24px;
    padding-left: 44px;
    transition: 0.5s;
}
.aside-menu-items:hover {
    cursor: pointer;
    color:#1e262b ;
    background-color: #DBDBDB;
    padding-left: 55px;
    transition: 0.4s;
}
.main-items {
    position: relative;
    align-items: center;
    width: 885px;
    margin-left: 52px;
}

.image {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
}
img {
    padding: 75px 268px 73px 297px;
    transition: 0.5s;
}
.image:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}
.first-paragraph {
    padding-top: 34px;
    padding-bottom: 28px;
    color:#2C2C2C;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.second-paragraph {
    color: #2C2C2C;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    font-weight: 400;
    font-size: 28px;
    text-decoration: none;
    background: #63696E7A;
    margin-bottom: 30px;
    margin-top: 50px;
}
.footer-item:hover {
    text-decoration:underline;
    color: #3181A6;
}
.copyright {
    padding-right: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}
.footer-items {
    display: flex;
    justify-content: space-between;
    width: 875px;
    margin-left: 42px;
}
